web/WEB-INF/wsdl/gfish3.it.ilstu.edu_8080/ISUIndeedWebService/ISUIndeedWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ISUIndeed.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ISUIndeed.me.org/">

<xs:element name="getAllowedValues" type="tns:getAllowedValues"/>

<xs:element name="getAllowedValuesResponse" type="tns:getAllowedValuesResponse"/>

<xs:element name="mapJobSearchResults" type="tns:mapJobSearchResults"/>

<xs:element name="mapJobSearchResultsResponse" type="tns:mapJobSearchResultsResponse"/>

<xs:element name="searchJobs" type="tns:searchJobs"/>

<xs:element name="searchJobsAdvanced" type="tns:searchJobsAdvanced"/>

<xs:element name="searchJobsAdvancedResponse" type="tns:searchJobsAdvancedResponse"/>

<xs:element name="searchJobsResponse" type="tns:searchJobsResponse"/>

<xs:complexType name="mapJobSearchResults">
<xs:sequence>
<xs:element name="jobSearchResults" type="tns:jobSearchResult" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jobSearchResult">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="datePosted" type="xs:string" minOccurs="0"/>
<xs:element name="daysPostedAgo" type="xs:string" minOccurs="0"/>
<xs:element name="latitude" type="xs:double"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:double"/>
<xs:element name="snippet" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mapJobSearchResultsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchJobsAdvanced">
<xs:sequence>
<xs:element name="queryTerm" type="xs:string" minOccurs="0"/>
<xs:element name="searchLocation" type="xs:string" minOccurs="0"/>
<xs:element name="radius" type="xs:int"/>
<xs:element name="searchCountry" type="xs:string" minOccurs="0"/>
<xs:element name="sortCriteria" type="xs:string" minOccurs="0"/>
<xs:element name="daysBack" type="xs:int"/>
<xs:element name="websiteType" type="xs:string" minOccurs="0"/>
<xs:element name="jobType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchJobsAdvancedResponse">
<xs:sequence>
<xs:element name="return" type="tns:jobSearchResult" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchJobs">
<xs:sequence>
<xs:element name="queryTerm" type="xs:string" minOccurs="0"/>
<xs:element name="searchLocation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchJobsResponse">
<xs:sequence>
<xs:element name="return" type="tns:jobSearchResult" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllowedValues">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllowedValuesResponse">
<xs:sequence>
<xs:element name="return" type="tns:allowedValues" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="allowedValues">
<xs:sequence>
<xs:element name="jobType" type="tns:jobType" minOccurs="0"/>
<xs:element name="searchCountry" type="tns:searchCountry" minOccurs="0"/>
<xs:element name="sortCriteria" type="tns:sortCriteria" minOccurs="0"/>
<xs:element name="websiteType" type="tns:websiteType" minOccurs="0"/>
<xs:element name="searchCountriesDefined" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="jobType">
<xs:restriction base="xs:string">
<xs:enumeration value="fulltime"/>
<xs:enumeration value="parttime"/>
<xs:enumeration value="contract"/>
<xs:enumeration value="internship"/>
<xs:enumeration value="temporary"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="searchCountry">
<xs:restriction base="xs:string">
<xs:enumeration value="us"/>
<xs:enumeration value="ar"/>
<xs:enumeration value="au"/>
<xs:enumeration value="at"/>
<xs:enumeration value="bh"/>
<xs:enumeration value="be"/>
<xs:enumeration value="br"/>
<xs:enumeration value="ca"/>
<xs:enumeration value="cl"/>
<xs:enumeration value="cn"/>
<xs:enumeration value="co"/>
<xs:enumeration value="cz"/>
<xs:enumeration value="dk"/>
<xs:enumeration value="fi"/>
<xs:enumeration value="fr"/>
<xs:enumeration value="de"/>
<xs:enumeration value="gr"/>
<xs:enumeration value="hk"/>
<xs:enumeration value="hu"/>
<xs:enumeration value="in"/>
<xs:enumeration value="id"/>
<xs:enumeration value="ie"/>
<xs:enumeration value="il"/>
<xs:enumeration value="it"/>
<xs:enumeration value="jp"/>
<xs:enumeration value="kr"/>
<xs:enumeration value="kw"/>
<xs:enumeration value="lu"/>
<xs:enumeration value="my"/>
<xs:enumeration value="mx"/>
<xs:enumeration value="nl"/>
<xs:enumeration value="nz"/>
<xs:enumeration value="no"/>
<xs:enumeration value="om"/>
<xs:enumeration value="pk"/>
<xs:enumeration value="pe"/>
<xs:enumeration value="ph"/>
<xs:enumeration value="pl"/>
<xs:enumeration value="pt"/>
<xs:enumeration value="qa"/>
<xs:enumeration value="ro"/>
<xs:enumeration value="ru"/>
<xs:enumeration value="sa"/>
<xs:enumeration value="sg"/>
<xs:enumeration value="za"/>
<xs:enumeration value="es"/>
<xs:enumeration value="se"/>
<xs:enumeration value="ch"/>
<xs:enumeration value="tw"/>
<xs:enumeration value="tr"/>
<xs:enumeration value="ae"/>
<xs:enumeration value="gb"/>
<xs:enumeration value="ve"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="sortCriteria">
<xs:restriction base="xs:string">
<xs:enumeration value="relevance"/>
<xs:enumeration value="date"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="websiteType">
<xs:restriction base="xs:string">
<xs:enumeration value="jobsite"/>
<xs:enumeration value="employer"/>
<xs:enumeration value="all"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>