src/conf/xml-resources/web-service-references/ISUIndeedWebService/wsdl/gfish3.it.ilstu.edu_8080/ISUIndeedWebService/ISUIndeedWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ISUIndeed.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ISUIndeed.me.org/" name="ISUIndeedWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ISUIndeed.me.org/" schemaLocation="http://gfish3.it.ilstu.edu:8080/ISUIndeedWebService/ISUIndeedWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="mapJobSearchResults">
<part name="parameters" element="tns:mapJobSearchResults"/>
</message>
<message name="mapJobSearchResultsResponse">
<part name="parameters" element="tns:mapJobSearchResultsResponse"/>
</message>
<message name="searchJobsAdvanced">
<part name="parameters" element="tns:searchJobsAdvanced"/>
</message>
<message name="searchJobsAdvancedResponse">
<part name="parameters" element="tns:searchJobsAdvancedResponse"/>
</message>
<message name="searchJobs">
<part name="parameters" element="tns:searchJobs"/>
</message>
<message name="searchJobsResponse">
<part name="parameters" element="tns:searchJobsResponse"/>
</message>
<message name="getAllowedValues">
<part name="parameters" element="tns:getAllowedValues"/>
</message>
<message name="getAllowedValuesResponse">
<part name="parameters" element="tns:getAllowedValuesResponse"/>
</message>
<portType name="ISUIndeedWebService">
<operation name="mapJobSearchResults">
<input wsam:Action="http://ISUIndeed.me.org/ISUIndeedWebService/mapJobSearchResultsRequest" message="tns:mapJobSearchResults"/>
<output wsam:Action="http://ISUIndeed.me.org/ISUIndeedWebService/mapJobSearchResultsResponse" message="tns:mapJobSearchResultsResponse"/>
</operation>
<operation name="searchJobsAdvanced">
<input wsam:Action="http://ISUIndeed.me.org/ISUIndeedWebService/searchJobsAdvancedRequest" message="tns:searchJobsAdvanced"/>
<output wsam:Action="http://ISUIndeed.me.org/ISUIndeedWebService/searchJobsAdvancedResponse" message="tns:searchJobsAdvancedResponse"/>
</operation>
<operation name="searchJobs">
<input wsam:Action="http://ISUIndeed.me.org/ISUIndeedWebService/searchJobsRequest" message="tns:searchJobs"/>
<output wsam:Action="http://ISUIndeed.me.org/ISUIndeedWebService/searchJobsResponse" message="tns:searchJobsResponse"/>
</operation>
<operation name="getAllowedValues">
<input wsam:Action="http://ISUIndeed.me.org/ISUIndeedWebService/getAllowedValuesRequest" message="tns:getAllowedValues"/>
<output wsam:Action="http://ISUIndeed.me.org/ISUIndeedWebService/getAllowedValuesResponse" message="tns:getAllowedValuesResponse"/>
</operation>
</portType>
<binding name="ISUIndeedWebServicePortBinding" type="tns:ISUIndeedWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mapJobSearchResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchJobsAdvanced">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchJobs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllowedValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ISUIndeedWebService">
<port name="ISUIndeedWebServicePort" binding="tns:ISUIndeedWebServicePortBinding">
<soap:address location="http://gfish3.it.ilstu.edu:8080/ISUIndeedWebService/ISUIndeedWebService"/>
</port>
</service>
</definitions>